body {
    margin: 0;
    background-color: rgb(3, 14, 32);
    color: white;
    font-family: Arial; 
    text-align: center;
    padding: 40px;
}

.title {
    position: absolute;
    top: 15px;
    left: 30px;
}

.Sub {
    position: absolute;
    top: 20px;
    right: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.square {
    width: 200vh;
    height: 90vh;
    background-color: rgb(7, 20, 43);
    border-radius: 20px;
    position: relative;
}

.NoteButton {
    background-color: rgb(17, 35, 67);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px 24px;
    font-size: 16px;
    font-family: Arial;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
}