body {
    background-color: rgb(5, 33, 75);
    font-family: system-ui, Arial;
    color: white;
    text-align: center;
    padding: 50px;
}

.title {
    position: absolute;
    top: 20px;
    right: 30px;
}